.about-us-hero {
background-image: url('../../images/about-us-background.png');
background-size: 1280px;
background-repeat: no-repeat;
border-radius: 10px;
}

.about-us-container {
  overflow: visible;
}

.about-us-hero-words {

}

.about-us-h1{

}

.about-us-h1-link{
text-decoration: none;
height: 48px;
left: 0%;
right: 57.75%;
top: calc(50% - 48px/2 - 64px);
font-family: Fraunces 9pt;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;
color: #FEFCF7;
}

.about-us-p{
  width: 445px;
  height: 104px;
  left: 0%;
  right: 0%;
  top: 40.91%;
  bottom: 0%;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  padding-bottom: 137px;
}


